@media only screen and (max-width: 720px)
  main
    padding-top:    0.5em
    padding-bottom: 0.5em
    padding-left:   2em
    padding-right:  2em

@media only screen and (min-width: 720px) and (max-width: 1440px)
  main
    padding-top:    2em
    padding-bottom: 2em
    padding-left:   4em
    padding-right:  4em

body
  margin:       0em
  background:   white
  font-family:  sans-serif

header
  margin: 0.5em
  a
    display:          inline-block
    padding:          0.5em
    text-decoration:  none
    background:       #dd3322
    color:            white

.active
  font-weight: bold

main
  max-width:      48em
  margin:         auto
  line-height:    1.5em

h1
  line-height: initial

.example
  text-align:   center
  p
    display:        inline-block
    padding-left:   1em
    padding-right:  1em

em
  display: block

.at
  font-style: initial

h3, .x1
  color: #dd3322

.x2
  color: #cc5522

.x3
  color: #bb7722

h1, .su
  color: #2280dd

.mo
  color: #339944

.su
  font-weight: bold

input
  padding:    0.5em
  border:     0.1em solid
  font-size:  initial

.word
  h4, ul, li
    display: inline
  h4, ul, .meaning
    padding-top: 1em
    padding-bottom: 1em
  li
    padding-right: 0.5em
    padding-left: 0em

.word, input
  margin-top: 1em
  margin-bottom: 1em

