body
  font-family:  sans-serif

header
  margin: 1em
  a
    padding:          0.25em
    border:           0.15em solid
    border-radius:    0.25em
    text-decoration:  none

.active
  color:        white
  background:   #dd3322
  border-color: #dd3322
.inactive
  color:        #dd3322

main
  max-width:      48em
  margin:         auto
  padding-left:   4em
  padding-right:  4em
  padding-top:    2em
  padding-bottom: 2em
  line-height:    1.5em

h1
  line-height: initial

.example
  text-align:   center
  p
    display:        inline-block
    padding-left:   1em
    padding-right:  1em

em
  display: block

.at
  font-style: initial

.x1, .red
  color: #dd3322

.x2
  color: #cc5522

.x3
  color: #bb7722

.su, .blue
  color: #2280dd

.mo
  color: #339944

.su
  font-weight: bold

.word
  h4, ul, li
    display: inline
  h4, ul, .meaning
    padding-top: 1em
    padding-bottom: 1em
  li
    padding-right: 0.5em
    padding-left: 0em

.word, input
  margin-top: 1em
  margin-bottom: 1em

